/* Estilos para la tarjeta de producto */
.product-card {
  display: flex;
  flex-direction: column;
  width: 255px; /* Ancho de la tarjeta */
  height: 230px; /* Altura de la tarjeta */
  margin: 29px; /* Espacio exterior */
  margin-bottom: 20px; /* Espacio inferior para separar las tarjetas */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombras para una leve elevación */
  text-decoration: none; /* Elimina el subrayado del texto */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave al hacer hover */
}

.product-card:hover {
  transform: translateY(-5px); /* Desplazar hacia arriba al hacer hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
}

.product-card img {
  width: 255px;
  height: 177px;
}

.product-info {
  background-color: var(
    --product-info-background-color,
    white
  ); /* Utilizar variable CSS para el color de fondo */
  display: flex;
  flex-direction: column; /* Cambio a disposición en columna */
  justify-content: space-between;
  align-items: flex-start; /* Alinea el contenido al inicio */
  margin-top: auto; /* Mueve el contenido al final de la tarjeta */
}

.product-name,
.product-price {
  width: 100%; /* Extiende los elementos a lo ancho de la tarjeta */
  padding: 4px; /* Agregar relleno alrededor del texto */
  background: none;
}

.product-name {
  font-family: "Poppins", sans-serif; /* Fuente Poppins */
  font-weight: 500; /* Medium */
  font-size: 16px; /* Tamaño 16 */
  color: var(
    --product-name-color,
    #1d293f
  ); /* Utilizar variable CSS para el color de texto */
  text-align: left; /* Alinea el texto a la izquierda */
  margin-left: 24px;
}

.product-price {
  font-family: "Roboto", sans-serif; /* Fuente Roboto */
  font-size: 20px; /* Tamaño 20 */
  color: var(
    --product-price-color,
    #56b280
  ); /* Utilizar variable CSS para el color de texto */
  text-align: right; /* Alinea el texto a la derecha */
  margin-right: 16px;
}

/* Estilos para la sección de productos */
.product-section {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas de productos se envuelvan en múltiples líneas */
  justify-content: center; /* Distribuye el espacio entre las tarjetas */
}

/* Estilos para el título y el subtítulo de la sección de productos */
.section-header {
  text-align: center; /* Alinea el texto al centro */
  margin-bottom: 40px; /* Espacio entre el encabezado y las tarjetas de productos */
  margin-top: 5%;
}

.section-header h2 {
  font-family: "Poppins", sans-serif; /* Fuente Poppins */
  font-weight: 500; /* Medium */
  font-size: 40px; /* Tamaño 40 */
  color: var(
    --section-header-title-color,
    #0b254b
  ); /* Utilizar variable CSS para el color de texto */
  margin-bottom: 5px; /* Espacio entre el título y el subtítulo */
}

.section-header p {
  font-family: "Poppins", sans-serif; /* Fuente Poppins */
  font-size: 15px; /* Tamaño 15 */
  color: var(
    --section-header-text-color,
    #5e6e89
  ); /* Utilizar variable CSS para el color de texto */
}
